.table{
    min-width: 800px;
    margin: 40px auto;
    font-size: 24px;
    border: solid 2px #192300;
    table-layout: fixed;
}
.head{
    background-color: black;
    height: 40px;
}
.name{
    color: white;
    border: solid 2px #192300;
}
.info{
    padding: 12px 0;
    text-align: center;
}
.tr{
   border: solid 2px #192300;
}
.row :nth-child(2n){
    background-color: lightgrey;
}
.td{
    border: solid 2px #192300;
}